/* Universal Styles */

/* Navigation Style */


/* Main Header Google Play link */

#Home h1{
  font-family: 'Cinzel', serif;
  align-content: center;
  font-size: 5rem;
  font-weight: bold;
  }



/* Tutorial Section */
.vid-container  {
  margin: 2rem 10rem;
}

#Tutorial h1  {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
}

/* How to Play */
.container-fluid  {
  margin-top: 5rem;
}

#How-to-Play h2 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
}


/* Scoring Section */
#Scoring  {
  margin-top: 5rem;
}

#Scoring h2 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
}

/*   Strategy     */

#Strategy {
  margin-top: 5rem;
}

#Strategy h2  {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
}
/* Table Styles */

th {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

table, th, td  {
  border: 1px;
  border-color: rgb(212, 213, 215);
  border-style: solid;
  font-family: 'Oxygen', sans-serif;
}

td, th {
  padding: .5rem;
  text-align: center;
}


.points {
text-align: center;
}

.word-size  {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}


/* Footer Section */

footer  {
  margin-top: 5rem;
  background-color: #212529;
  color: #d49048;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}
